################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/GroupProjectCSharp/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
/.vs/GroupProjectCSharp/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
/.vs/GroupProjectCSharp/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
/.vs/GroupProjectCSharp/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
/.vs/GroupProjectCSharp/CopilotIndices/17.12.38.29086/CodeChunks.db
/.vs/GroupProjectCSharp/CopilotIndices/17.12.38.29086/SemanticSymbols.db
/.vs/csharp_group_proj/CopilotIndices/17.12.38.29086/CodeChunks.db
/.vs/csharp_group_proj/CopilotIndices/17.12.38.29086/SemanticSymbols.db
